{% extends 'base.html' %}

{% block content %}
<style>
  .poll-container {
    border: 2px solid #007bff; 
    padding: 10px; 
    margin-bottom: 20px;
    max-width: 400px; 
    margin-left: 0%; 
    margin-right: auto; 
  }
</style>

{% if active_polls %}
<h2>Active Polls</h2>
  {% for active_poll in active_polls %}
    <div class="poll-container">
        <p>{{ active_poll.poll_text }}</p>  
        <p>Event Date:-{{ active_poll.event_date_time }}</p>
        <p>Poll End Date: {{ active_poll.end_date_time }}</p>
      <a href="{{basic_url}}polls/poll?poll_id={{active_poll.id}}">Details</a>
    </div>
  {% endfor %}

{% else %}
  <p>There are no active polls at the moment.</p>
{% endif %}

{% endblock %}
