{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/poll_extra_count.css' %}">

<h2>Edit Extra Counts</h2>
<div class="poll-container">
    <p style="margin-right: 20px;">Event : {{ poll.poll_text }}</p>
    <div class="event-details">
      <p style="margin-right: 20px;">Event Date: </p>
      <p>{{ poll.event_date_time }}</p>
    </div>
</div>
<div class="poll-container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="submit-btn">Add</button> 
    </form>
  </div>


{% endblock %}