{% extends 'base.html' %}

{% block content %}
<style>
  /* CSS styles for poll containers */
  .poll-container {
    border: 2px #007bff; /* Add border styling */
    padding: 10px; /* Add padding for better spacing */
    margin-bottom: 20px; /* Add margin to separate each poll container */
    max-width: 400px; /* Reduce the container width */
    margin-left: 0%; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
    background-color:#96E9C6
  }

  /* Add space between hyperlinks */
  .details {
    margin-bottom: 10px;
    margin-right: 20px;
    padding-left: 26%;
  }

  /* Make event date and details inline */
  .event-details {
    display: flex;
    align-items: center;
  }

</style>

{% if poll_ids %}
  <h2>My Polls</h2>

    {% for id, event_date_time,is_active in poll_ids %}
      <div class="poll-container">
        <div class="event-details">
          <p style="margin-right: 20px;">Event Date: {{ event_date_time }}</p>
          <a href="{{ basic_url }}polls/poll?poll_id={{ id }}" class="details">Edit</a>
        </div>
        {% if not is_active %}
          <a href="{{ basic_url }}polls/download_unique_image?poll_id={{ id }}" class="btn btn-primary">Download unique image</a>
        {% else %}
          <p>When the poll ends,you'll get the unique image here.</p>       
        {% endif %}
      </div>
    {% endfor %}
{% else %}
  <p>Sorry! You have no polls at the moment.</p>
{% endif %}

{% endblock %}
