{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/poll_form.css' %}">

<h3>{{ poll.poll_text }}</h3>
<div class="poll-container">
<p>Event Date: <span class="poll-value">{{ poll.event_date_time }}</span></p>
<p>Poll End Date: <span class="poll-value">{{ poll.end_date_time }}</span></p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="submit-btn">Send</button> 
</form>
</div>
{% endblock %}

